body, p, ol {
  margin: 0;
}

.container {
  width: 1848px;
  height: 962px;
}

.top-container {
  background-color: #2564cf;
  width: 1848px;
  height: 48px;
  color: white;
}

.bottom-container {
  width: 1848px;
  height: 913px;
}

.all-apps-button-container {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.side-logo-container .logo-container {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.side-logo-container .logo-container:first-child {
  margin-left: 30px;
}
.top-container .material-symbols-rounded {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.todo-container {
  width: 63px;
  height: 48px;
  margin-top: 12px;
  display: inline-block;
  vertical-align: top;
}

.todo-container p {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
  font-size: 16px;
  padding-left: 2px;
}

.search-box-container {
  width: 1480px;
  height: 48px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.search-logo {
  display: inline-block;
  color: #2564cf;
}

.search-tool-bar {
  width: 300px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}

.search-tool-bar input {
  margin: 0;
  border: 0;
  outline: none;
}
.search-tool-bar input::placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: gray;
}

.search-logo .material-symbols-rounded {
  padding: 0;
  margin-top: 5px;
  transform: scaleX(-1);
}

.search-box {
  width: 400px;
  height: 32px;
  display: inline-block;
  border-radius: 5px;
  border: 0;
  text-align: left;
  margin-top: 6px;
  margin-left: 40px;
  background-color: white;
}

.side-logo-container {
  width: 240px;
  height: 48px;
  display: inline-block;
}

.side-container {
  width: 290px;
  height: 913px;
  display: inline-block;
  vertical-align: top;
  border-right: 1px groove rgb(224, 222, 222);
}

ol {
	list-style: none;
  padding-left: 0px;
  height: 800px;
  overflow-y: scroll;
}

.main-container {
  width: 1551px;
  height: 913px;
  display: inline-block;
}

.side-header-container {
  width: 280px;
  height: 48px;
  margin-top: 16px;
  display: inline-block;
}

.side-header-container .material-symbols-rounded {
  color: rgb(59, 59, 59);
  margin-left: 24px;
  margin-top: 12px;
}

.task .material-symbols-rounded,
li .material-symbols-rounded {
  color: rgb(59, 59, 59);
  margin-left: 24px;
  margin-top: 14px;
  font-size: 20px;
}

li div {
  display: inline-block;
  padding-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-top: 14px;
  vertical-align: top;
}

li {
  width: 290px;
  height: 44px;
  display: inline-block;
}

.all-apps-button-container:hover,
li:hover,
.logo-container:hover,
.task-adder:hover {
  background-color: rgb(228, 226, 226);
}

.task-adder {
  /* width: 10px; */
  height: 44px;
  display: inline-block;
}

.task {
  width: 290px;
  height: 44px;
  display: inline-block;
}

.add-task {
  color: #a1a0a0;
  margin-left: 24px;
  margin-top: 14px;
  font-size: 20px;
  display: inline-block;
}

/* .task-input {
  display: inline-block;
  height: 40px;
  width: 180px;
  vertical-align: top;
  padding-top: 6px;
} */

#task-input {
  display: inline-block;
  /* height: 36px; */
  width: 150px;
  border: 0;
  background: none;
  outline: none;
}

.create-group {
  color: #a1a0a0;
  width: 48px;
  width: 40px;
  padding-left: 10px;
  display: inline-block;
}

.bottom-logo-container {
  width: 290px;
  height: 48px;
  display: inline-block;
  /* margin-top: 518px; */
}

.logo-container {
  width: 53px;
  height: 48px;
  text-align: center;
  display: inline-block;
}

.add-task-creation-container .material-symbols-rounded,
.bottom-logo-container .logo-container .material-symbols-rounded {
  color: rgb(59, 59, 59);
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 20px;
}

.bottom-logo-container .logo-container:nth-child(4) .material-symbols-rounded {
  transform: rotate(40deg);
}
.top-header-container {
  width: 1552px;
  height: 90px;
  display: inline-block;
}

.task-container {
  /* background-color: dodgerblue; */
  width: 1552px;
  height: 809px;
  display: inline-block;
}

.top-tool-bar-container {
  /* background-color: deeppink; */
  width: 1552px;
  height: 48px;
  display: inline-block;
  margin-top: 14px;
}

.day-logo {
  margin-top: 14px;
  margin-left: 26px;
  margin-right: 6px;
  display: inline-block;
}

#menu div {
  display: inline-block;
  vertical-align: top;
  /* padding-top: 16px; */
}

#menu div p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.more-logo {
  margin-top: 14px;
  margin-left: 6px;
  margin-right: 6px;
  display: inline-block;
}

.top-tool-bar-subline-container {
  /* background-color: greenyellow; */
  width: 1552px;
  height: 21px;
  display: inline-block;
}

.top-tool-bar-subline-container #today-date {
  padding-left: 28px;
  font-size: 10px;
}

.top-tool-bar-subline-container p {
  margin: 0;
}
.add-task-container {
  /* background-color: limegreen; */
  padding: 0 10px;
  width: 1410px;
  height: 52px;
  display: inline-block;
  margin-top: 16px;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px groove rgb(224, 222, 222);
}

.task-detail {
  padding-top: 10px;
}

.task-detail input {
  display: inline-block;
  height: 36px;
  width: 1000px;
  border: 0;
  background: none;
  outline: none;
}

.add-task-creation-container {
  /* background-color: mediumorchid; */
  padding: 0 10px;
  width: 1410px;
  height: 45px;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px groove rgb(224, 222, 222);
  display: inline-block;
}
